Repository privy-open-source/design-system, pull requests merged in 2022-10, with the labels that each got.

#266 Feat/navbar
  src/.vitepress/config.ts
  src/.vitepress/theme/components/Preview.vue
  src/components/collapse/Collapse.spec.ts
  src/components/collapse/Collapse.vue
  src/components/collapse/__mocks__/use-media-query.ts
  src/components/input/Input.vue
  src/components/nav/Nav.vue
  src/components/nav/NavForm.spec.ts
  src/components/nav/NavForm.vue
  src/components/nav/NavItemDropdown.spec.ts
  src/components/nav/NavItemDropdown.vue
  src/components/nav/index.md
  src/components/navbar/Navbar.spec.ts
  src/components/navbar/Navbar.vue
  src/components/navbar/NavbarBrand.spec.ts
  src/components/navbar/NavbarBrand.vue
  src/components/navbar/NavbarNav.spec.ts
  src/components/navbar/NavbarNav.vue
  src/components/navbar/NavbarToggle.spec.ts
  src/components/navbar/NavbarToggle.vue
  src/components/navbar/index.md
  src/components/navbar/use-navbar.ts
  src/components/sidebar/SidebarNav.vue
  src/public/assets/images/icon-flag.svg
  src/public/assets/images/logo-privy-icon.svg
  src/public/assets/images/logo-privy.svg
Labels: documentation, components

#258 feat: camera
  package.json
  src/.vitepress/config.ts
  src/.vitepress/theme/components/Preview.vue
  src/components/camera/Camera.spec.ts
  src/components/camera/Camera.vue
  src/components/camera/__mocks__/motion.ts
  src/components/camera/__mocks__/run-adapter.ts
  src/components/camera/__mocks__/sample-2.jpeg
  src/components/camera/__mocks__/sample.jpeg
  src/components/camera/__mocks__/take-picture.ts
  src/components/camera/__mocks__/use-dialog.ts
  src/components/camera/__mocks__/user-media.ts
  src/components/camera/adapter/adapter.ts
  src/components/camera/adapter/capture.spec.ts
  src/components/camera/adapter/capture.ts
  src/components/camera/adapter/liveness.spec.ts
  src/components/camera/adapter/liveness.ts
  src/components/camera/adapter/qr-code.spec.ts
  src/components/camera/adapter/qr-code.ts
  src/components/camera/assets/shutter.wav
  src/components/camera/index.md
  src/components/camera/utils/motion.ts
  src/components/camera/utils/take-picture.ts
  src/components/dialog/DialogFooter.vue
  src/components/dropzone/Dropzone.spec.ts
  src/components/dropzone/__mocks__/base64.ts
  src/components/dropzone/index.md
  src/components/select/adapter/basic-adapter.spec.ts
  src/components/select/adapter/fuzzy-adapter.spec.ts
  src/components/signature-draw/utils/canvas.ts
  src/components/utils/base64.spec.ts
  src/components/utils/base64.ts
  src/components/utils/color.ts
  src/core/index.ts
  yarn.lock
Labels: documentation, components

#276 fix(camera): handle unsupported permission API in ios
  src/.vitepress/config.ts
  src/.vitepress/theme/components/Home.vue
  src/.vitepress/theme/css/custom.css
  src/components/camera/Camera.vue
  src/components/camera/__mocks__/user-media.ts
  src/components/camera/index.md
  types/env.d.ts
  vite.config.ts
Labels: bug

#273 added: add sizing for modal
  src/components/dialog/Dialog.vue
  src/components/dialog/index.md
  src/components/dialog/use-dialog.ts
  src/components/modal/Modal.spec.ts
  src/components/modal/Modal.vue
  src/components/modal/index.md
  src/components/navbar-menu/NavbarNavMenu.vue
Labels: documentation, enhancement

#287 feat: Tooltip
  .browserslistrc
  package.json
  packages/persona/build.config.ts
  packages/persona/package.json
  src/.vitepress/config.ts
  src/components/dropdown/utils/use-popper.spec.ts
  src/components/dropdown/utils/use-popper.ts
  src/components/global/use-singleton.spec.ts
  src/components/global/use-singleton.ts
  src/components/markdown/index.md
  src/components/markdown/index.spec.ts
  src/components/markdown/index.ts
  src/components/steps/Step.vue
  src/components/steps/Steps.vue
  src/components/steps/index.ts
  src/components/steps/utils/hook.spec.ts
  src/components/steps/utils/hook.ts
  src/components/tooltip/Tooltip.vue
  src/components/tooltip/TooltipContainer.vue
  src/components/tooltip/index.md
  src/components/tooltip/index.spec.ts
  src/components/tooltip/index.ts
  src/components/tooltip/utils/create-handler.ts
  src/components/tooltip/utils/parse-bindings.spec.ts
  src/components/tooltip/utils/parse-bindings.ts
  src/components/tooltip/utils/use-selector.ts
  src/core/index.ts
  src/directive/index.ts
  yarn.lock
Labels: documentation, components
