Repository privy-open-source/design-system, pull requests merged in 2022-07, with the labels that each got.

#140 feat: datepicker
  components/.vitepress/config.ts
  components/calendar/Calendar.spec.ts
  components/calendar/Calendar.vue
  components/checkbox/Checkbox.vue
  components/checkbox/component.md
  components/datepicker/Datepicker.spec.ts
  components/datepicker/Datepicker.vue
  components/datepicker/component.md
  components/dialog/use-dialog.ts
  components/dropdown/Dropdown.spec.ts
  components/radio/Radio.vue
  components/select/Select.spec.ts
  components/select/adapter/async-adapter.spec.ts
  components/select/adapter/basic-adapter.spec.ts
  components/select/adapter/fuzzy-adapter.spec.ts
  package.json
  tsconfig.node.json
  vitest.config.ts
  yarn.lock
Labels: documentation, components, test

#148 fix avatar doc
  components/avatar/component.md
Labels: documentation

#161 Feat/caption
  components/.vitepress/config.ts
  components/caption/Caption.spec.ts
  components/caption/Caption.vue
  components/caption/component.md
  packages/tailwind-preset/index.js
Labels: components
