Repository privy-open-source/design-system, pull requests merged in 2022-06, with the labels that each got.

#128 feat(truncate): add component truncate
  components/.vitepress/config.ts
  components/spinner/component.md
  components/truncate/Truncate.spec.ts
  components/truncate/Truncate.vue
  components/truncate/component.md
Labels: components

#108 added: add modal component
  components/.vitepress/config.ts
  components/dialog/Dialog.vue
  components/dialog/DialogFooter.vue
  components/dialog/component.md
  components/dialog/use-dialog.ts
  components/modal/Modal.spec.ts
  components/modal/Modal.vue
  components/modal/assets/images/img-modal-banner-sheet.jpg
  components/modal/component.md
  package.json
  packages/tailwind-preset/index.js
  yarn.lock
Labels: components

#137 fix(ssr): fix error hydration
  components/checkbox/component.md
  components/checkbox/use-checkbox.ts
  components/select/component.md
  components/select/demo/get-region.ts
  components/toggle/component.md
Labels: bug

#123 feat(dropdown-subitem)
  components/.vitepress/config.ts
  components/dropdown-group/component.md
  components/dropdown-subitem/DropdownSubitem.spec.ts
  components/dropdown-subitem/DropdownSubitem.vue
  components/dropdown-subitem/component.md
  components/dropdown/Dropdown.spec.ts
  components/dropdown/Dropdown.vue
  components/dropdown/component.md
Labels: documentation

#126 Feat/button group
  components/.vitepress/config.ts
  components/.vitepress/theme/css/custom.css
  components/button-group/ButtonGroup.spec.ts
  components/button-group/ButtonGroup.vue
  components/button-group/component.md
  components/button-group/guide.md
  components/button/Button.vue
  components/button/component.md
  components/dropdown/DropdownItem.vue
  packages/tailwind-preset/index.js
Labels: components
