Repository privy-open-source/design-system, pull requests merged in 2022-08, with the labels that each got.

#151 Bugfix/modal
  components/dialog/DialogFooter.vue
  components/modal/Modal.spec.ts
  components/modal/Modal.vue
  components/modal/component.md
Labels: bug, enhancement

#204 added: add navigation component
  components/.vitepress/config.ts
  components/badge/Badge.vue
  components/button/Button.vue
  components/nav/Nav.spec.ts
  components/nav/Nav.vue
  components/nav/NavItem.spec.ts
  components/nav/NavItem.vue
  components/nav/NavItemDropdown.spec.ts
  components/nav/NavItemDropdown.vue
  components/nav/NavText.vue
  components/nav/component.md
Labels: documentation, components

#206 Feat/nav
  components/nav/Nav.spec.ts
  components/nav/Nav.vue
  components/nav/NavItem.vue
  components/nav/component.md
Labels: enhancement

#217 feat: table
  components/.vitepress/config.ts
  components/.vitepress/theme/css/custom.css
  components/badge/component.md
  components/button/Button.vue
  components/checkbox/Checkbox.vue
  components/dropdown-subitem/DropdownSubitem.spec.ts
  components/dropdown-subitem/DropdownSubitem.vue
  components/dropdown-subitem/component.md
  components/dropdown-subitem/use-dropdown-subitem.ts
  components/dropdown/Dropdown.spec.ts
  components/dropdown/Dropdown.vue
  components/dropdown/component.md
  components/filterbar/Filterbar.vue
  components/filterbar/component.md
  components/filterbar/pinned/Date.vue
  components/filterbar/pinned/Multiselect.vue
  components/filterbar/pinned/Select.vue
  components/filterbar/pinned/Toggle.vue
  components/filterbar/use-filterbar.ts
  components/nav/NavItemDropdown.vue
  components/radio/Radio.vue
  components/select/Select.vue
  components/select/adapter/adapter.ts
  components/table/Table.spec.ts
  components/table/Table.vue
  components/table/__mocks__/vuedraggable.ts
  components/table/component.md
  components/table/use-table.spec.ts
  components/table/use-table.ts
  components/toggle/Toggle.vue
  package.json
  yarn.lock
Labels: documentation, components

#211 added: add sidebar and sidebar-nav component
  components/.vitepress/config.ts
  components/.vitepress/theme/components/Preview.vue
  components/nav/Nav.spec.ts
  components/nav/Nav.vue
  components/nav/NavItem.vue
  components/nav/NavSubItem.spec.ts
  components/nav/NavSubItem.vue
  components/nav/component.md
  components/sidebar-menu/SidebarMenu.spec.ts
  components/sidebar-menu/SidebarMenu.vue
  components/sidebar-menu/assets/images/img-flag.svg
  components/sidebar-menu/component.md
  components/sidebar-menu/use-sidebar-menu.ts
  components/sidebar/Sidebar.spec.ts
  components/sidebar/Sidebar.vue
  components/sidebar/SidebarBrand.spec.ts
  components/sidebar/SidebarBrand.vue
  components/sidebar/SidebarNav.spec.ts
  components/sidebar/SidebarNav.vue
  components/sidebar/assets/images/icon-flag.svg
  components/sidebar/assets/images/logo-privy-icon.svg
  components/sidebar/assets/images/logo-privy.svg
  components/sidebar/component.md
Labels: documentation, components

#223 Feat/color
  components/.vitepress/config.ts
  components/color/Color.spec.ts
  components/color/Color.vue
  components/color/Colors.json
  components/color/Colors.vue
  components/color/guide.md
  packages/tailwind-preset/index.js
Labels: documentation, enhancement
