Repository privy-open-source/design-system, pull requests merged in 2023-01, with the labels that each got.

#360 Feat/checkbox navbar example
  src/.vitepress/config.ts
  src/.vitepress/theme/css/custom.css
  src/components/button-group/ButtonGroup.vue
  src/components/checkbox/Checkbox.vue
  src/components/checkbox/index.md
  src/components/collapse/Collapse.vue
  src/components/divider/Divider.vue
  src/components/dropdown/Dropdown.vue
  src/components/heading/index.md
  src/components/input-group/InputGroup.vue
  src/components/input-group/index.md
  src/components/input/Input.vue
  src/components/nav/Nav.vue
  src/components/nav/NavForm.vue
  src/components/nav/NavItem.vue
  src/components/nav/NavItemDropdown.spec.ts
  src/components/nav/NavItemDropdown.vue
  src/components/nav/NavSubItem.vue
  src/components/nav/NavText.spec.ts
  src/components/nav/NavText.vue
  src/components/nav/index.md
  src/components/navbar/Navbar.spec.ts
  src/components/navbar/Navbar.vue
  src/components/navbar/NavbarNav.vue
  src/components/navbar/NavbarToggle.vue
  src/components/navbar/index.md
  src/components/navbar/index.ts
  src/components/radio/Radio.vue
  src/components/radio/index.md
  src/components/select/Select.vue
  src/components/sidebar/Sidebar.vue
  src/components/subheading/index.md
  src/public/assets/images/img-guide-navbar.svg
  src/public/assets/images/img-guide-radio-and-checkbox.svg
  src/styleguide/checkbox-radio/index.md
  src/styleguide/heading/index.md
  src/styleguide/navbar/index.md
  src/styleguide/subheading/index.md
Labels: documentation, enhancement

#377 Feat/pagination
  .gitignore
  src/.vitepress/config.ts
  src/components/pagination/Pagination.spec.ts
  src/components/pagination/Pagination.vue
  src/components/pagination/index.md
  src/components/pagination/index.ts
  src/components/pagination/utils/calculate-page.spec.ts
  src/components/pagination/utils/calculate-page.ts
Labels: documentation, components

#379 Feat/foundation color
  packages/tailwind-preset/index.js
  src/.vitepress/config.ts
  src/.vitepress/theme/css/custom.css
  src/components/button-group/ButtonGroup.vue
  src/components/button-group/index.md
  src/components/button/Button.vue
  src/foundation/color/Color.vue
  src/foundation/color/Colors.json
  src/foundation/color/index.md
  src/foundation/colors/Color.spec.ts
  src/foundation/colors/Color.vue
  src/foundation/colors/Colors.json
  src/foundation/colors/Colors.vue
  src/foundation/colors/__mocks__/use-clipboard.ts
  src/foundation/colors/index.md
  src/foundation/colors/index.ts
  src/public/assets/images/img-foundation-bg-checker.png
Labels: documentation

#381 feat!: `signature-text` and `signature-draw` now support v-model file
  README.md
  package.json
  src/.vitepress/head.ts
  src/components/cropper/Cropper.vue
  src/components/cropper/index.ts
  src/components/signature-draw/SignatureDraw.spec.ts
  src/components/signature-draw/SignatureDraw.vue
  src/components/signature-draw/SignatureDrawDesktop.spec.ts
  src/components/signature-draw/SignatureDrawDesktop.vue
  src/components/signature-draw/SignatureDrawMobile.spec.ts
  src/components/signature-draw/SignatureDrawMobile.vue
  src/components/signature-draw/index.md
  src/components/signature-text/SignatureText.spec.ts
  src/components/signature-text/SignatureText.vue
  src/components/signature-text/index.md
  src/components/utils/base64.ts
  src/core/index.ts
  yarn.lock
Labels: enhancement, components
